@model TippSpiel.Models.Admin.AdminGroupViewModel

@{
    ViewData["Title"] = "Gruppe anlegen";
}

<h1>Gruppe anlegen</h1>

<form asp-action="CreateGroup" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Speichern</button>
    <a asp-action="Index" class="btn btn-link">Zurück</a>
</form>
